html, body {
    background-color: #100c0c;
    max-height: 1920px;
 } 

 #frame-box {
   position: relative;
   display: flex;
   justify-content: center;
   width: 100%; 
   margin: auto;
   height: 100%;
 }

 #table {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: center;
    z-index: 1001;
 }

.row {
    display: flex;
}

.ag-theme-custom {
    --ag-font-size: 16px;
    --ag-cell-horizontal-padding: calc(var(--ag-grid-size)*1.5);
    /* --ag-cell-horizontal-padding: 1px; */
}

.custom-headers{
    --ag-foreground-color: #f7efff;
    --ag-font-size: 50px;
    margin: 0pt;
    padding: 5pt;
    padding-top: 5%;
}

#mainGrid1,
#mainGrid2,
#biathlonGrid1,
#biathlonGrid2 {
  flex: 1; Each grid takes equal width
  border: 1px solid #000; Add a border for visibility
}

 .content {
    position: absolute;
    top: 0;
    left: 0;
    /* display: flex; */
    justify-content: center;
    /* height: 100%; */
    width: 100%; 
    margin: auto; /* Center the element horizontally */
    transition: opacity 0.5s linear, transform 0.5s linear;
    height: 100%;
    padding: 0;
  }
.content.hidden {
    opacity: 0;
  }

.difficulty-icon {
    padding-left: 3px;
    font-size: larger;
}
.difficulty-icon.icon-easy {
    color: #6ab547;
    border-radius: 50%;
    overflow: hidden
}

.difficulty-icon.icon-intermediate {
    color: #258ea6
}

.difficulty-icon.icon-advanced {
    color: #333;
    transform: rotate(45deg) scale(.6);
    padding-left: 1px
}

.difficulty-icon.icon-advanced-outline {
    color: #d4d4d4;
    transform: rotate(45deg) scale(0.9);
    /* --ionicon-stroke-width: 50px; */
}

.ag-cell.no-ellipsis {
    white-space: normal !important; /* Set white-space to normal */
    overflow: visible !important;   /* Ensure content is fully visible */
    text-overflow: clip !important; /* Disable ellipsis */
  }

.grooming-cell {
    display: flex;
    align-items: center;
}
.grooming-icon {
    /* margin-top: 8%; */
    margin-left:6px;
    padding: 0;
    --padding: 0;
    border-radius: 50%;
    overflow: hidden;
    height: 8px;
    width: 8px;
    border: 3px solid transparent;
    color: transparent!important
}

.grooming-icon.today {
    border-color: #6ab547
}

.grooming-icon.oneDayAgo {
    border-color: #f8b200
}

.grooming-icon.fourDaysAgo {
    border-color: #ee7000
}

.grooming-icon.sevenDaysAgo {
    border-color: #ee2d00
}

.grooming-icon.tenDaysAgo {
    border-color: #500
}

.grooming-icon.twoWeeksAgo {
    border-color: #FFF
}

#loading-spinner {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 1000;
  }
  
.spinner-icon {
border: 4px solid #0056bd;
border-top: 4px solid #000;
width: 100px;
height: 100px;
border-radius: 50%;
animation: spin 1s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#map {
    width: 1080px;
    text-align: center;
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
}

.header-content {
    display: flex;
    max-height: 33vh;
    overflow: hidden; 
}

.info-box {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: white;
    top: 10px;
    right: 10px;
    background-color: #181d1f;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.last-modified {
    position: fixed;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Add a z-index to ensure it's above other elements */
    max-width: 250px; /* Adjust the max-width as needed */
    width: 100%; /* Ensures the box takes the available width up to the max-width */
}

.report {
    /* position: relative; */
    background-color: #222628;
    font-size: x-large;
    border: 2px solid #cccccc;
    width: 70%;
}

.header-left {
    margin-right: auto;
    width: 30%
}

.legend {
    /* border: 0; */
    border: 2px solid #cccccc;
    background-color: #222628;
    min-width: fit-content;
  }
  
.legend-item {
display: flex;
align-items: center;
margin-bottom: 5px; /* Adjust margin as needed */
}

.legend-and-logo {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center;;
  }
  
  .logo-container {
    text-align: center;
    margin-left: 5px;
  }

.bj-logo {
    display: flex;
    justify-content: center;
    padding: 25px;
}